/* 
Proceeding with Good Approach : 
Desktop First Apprach
 using the analytics data for most used devices wrt to their width

 0-600px : Phone
 600-900px : Tablet Portrait
 900-1200px : Tablet Landscape
1200-1800 : Desktop (where normal styles apply)
1800+ : Big screens


*/
/* $breakpoint arguments 
-phone
-tab-port 
-tab-land
-big-desktop

1em = 16px (as rem does not work in some browssers)

Order: Base + typography > general layout + grid > page layout >componenets
*/
:root {
  --h1: calc(2rem + 1vw);
  --h2: calc(3.5rem + 1vw);
  --h3: calc(0.4rem + 1vw);
  --h4: calc(2.4rem + 1vw);
  --p: calc(1rem + 1vw);
  --text: calc(0.5rem + 1vw);
  --bigtext: calc(6rem + 1vw);
  --shadow-dark: 1rem 1rem 4rem rgba(0, 0, 0, 0.5),
    -1rem -1rem 4rem rgba(0, 0, 0, 0.5);
  --line: 1px solid rgba(99, 99, 99, 0.1);
  --shadow-light: 0 1rem 2rem rgba(80, 36, 36, 0.2); }

/* Global Reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

li,
button,
label,
input,
p {
  font-size: var(--p); }

ul {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background-image: linear-gradient(to right, #8a9dff, #3955e9);
  line-height: 1.5; }

.opening {
  animation: opening 1s ease-in-out; }

@keyframes opening {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fadeinleft,
.fadeinright,
.opening {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.fadeinleft {
  animation: fadeinleft 1s ease-in-out 0.5s; }

@keyframes fadeinleft {
  0% {
    opacity: 0;
    transform: translateX(-20%);
    filter: blur(10px); }
  80% {
    opacity: 1;
    transform: translateX(10%);
    filter: blur(3px); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

.fadeinright {
  animation: fadeinright 1s ease-in-out 0.5s; }

@keyframes fadeinright {
  0% {
    opacity: 0;
    transform: translateX(20%);
    filter: blur(10px); }
  80% {
    opacity: 1;
    transform: translateX(-10%);
    filter: blur(3px); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

.moveinup {
  animation: moveinup 1s ease-in-out 1s backwards; }

@keyframes moveinup {
  0% {
    opacity: 0;
    transform: translateY(20%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

.u-tc {
  text-align: center !important; }

.u-mb-2 {
  margin-bottom: 2rem !important; }

.u-mb-4 {
  margin-bottom: 4rem !important; }

.u-mb-6 {
  margin-bottom: 6rem !important; }

.u-mb-8 {
  margin-bottom: 8rem !important; }

.u-mt-2 {
  margin-top: 2rem !important; }

h1, h2, h3, h4, h5 {
  font-family: "Lato", sans-serif;
  font-weight: 400; }

li,
button,
label,
input,
p {
  font-family: "Rubik", sans-serif;
  font-weight: 100; }

h1 {
  font-size: var(--h1); }

h2 {
  font-size: var(--h2); }

h3 {
  font-size: var(--h3); }

h4 {
  font-size: var(--h4); }

h5 {
  font-size: var(--h5); }

li,
button,
label,
input,
p {
  font-size: var(--p); }

.email-section {
  overflow-y: scroll;
  height: 54rem;
  padding: 1rem;
  /* Track */
  /* Handle */
  /* Handle on hover */ }
  .email-section::-webkit-scrollbar {
    width: 0.5rem; }
  .email-section::-webkit-scrollbar-track {
    background: #fff; }
  .email-section::-webkit-scrollbar-thumb {
    background: #5e77fb; }
  .email-section::-webkit-scrollbar-thumb:hover {
    background: #333; }

.email-list {
  background-color: #fff;
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start; }
  .email-list--dark {
    background-color: #5e77fb;
    color: #fff; }

.email__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .email__list > * {
    margin-right: 1rem; }

.email__checkbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative; }

.email__input {
  align-self: center;
  cursor: pointer; }

.details__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .details__header svg {
    margin-left: auto;
    margin-right: 1rem; }

.details__title {
  font-size: var(--h3);
  font-weight: 700; }

.details__date {
  font-size: 1.4rem; }

.details__subject {
  font-size: 1.4rem;
  color: #5e77fb;
  font-weight: 800; }
  .details__subject--light {
    color: #fff; }

.details__text {
  font-size: 1.4rem;
  opacity: 0.8; }

.details__email > * {
  padding: 0.5rem; }

.search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1rem;
  border: 1px solid rgba(153, 153, 153, 0.3);
  font-size: 1.4rem;
  border-radius: 0.5rem;
  background-color: #fff; }
  .search__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent; }
    .search__button:focus {
      outline: none; }
  .search__input {
    width: 50%;
    border: none;
    font-size: 1.4rem;
    font-weight: inherit;
    padding: 0.5rem; }
    .search__input:focus {
      outline: none;
      color: #333; }
    .search__input::-webkit-input-placeholder {
      font-weight: 100;
      color: #999; }
  .search__sort {
    font-size: 1.4rem;
    color: #999; }
  .search__filter {
    border: none; }
    .search__filter option {
      font-weight: 500;
      font-size: 1.4rem;
      color: #fff;
      background-color: #5e77fb; }
      .search__filter option :hover {
        background-color: #fff; }
    .search__filter:focus {
      outline: none;
      color: #333; }

.icon-box {
  position: relative;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  opacity: 0.6;
  transition: all 0.2s ease-in-out; }
  .icon-box:hover {
    background-color: #f2f4f5;
    opacity: 1; }
  .icon-box:hover .icon-box__icon {
    fill: #5e77fb; }
  .icon-box--active {
    background-color: #3955e9;
    opacity: 1; }
  .icon-box--dark, .icon-box--light {
    border-radius: 100%;
    opacity: 1;
    padding: 1rem 1.1rem; }
  .icon-box--dark {
    background-color: #f2f4f5; }
    .icon-box--dark:hover {
      background-color: #fff;
      border: 1px solid #5e77fb; }
  .icon-box--light {
    background-color: #fff; }
    .icon-box--light:hover {
      background-color: #5e77fb; }
  .icon-box--light:hover .icon-box__icon {
    fill: #fff; }
  .icon-box__icon {
    height: 2rem;
    width: 2rem;
    fill: #fff; }
    .icon-box__icon--light {
      fill: #333;
      height: 1.5rem;
      width: 1.5rem; }
    .icon-box__icon--dark {
      fill: #333;
      opacity: 0.3;
      height: 1.5rem;
      width: 1.5rem; }
    .icon-box__icon--2x {
      height: 3rem;
      width: 3rem; }
  .icon-box__notification {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #8a9dff;
    font-weight: 900;
    font-size: 1.1rem;
    top: 0.2rem;
    right: 0.4rem;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 0.1rem 0.6rem;
    transition: all 0.2s; }

.nav-icons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 30rem; }
  .nav-icons > *:hover {
    cursor: pointer;
    transform: scale(1.2); }
  .nav-icons > *:hover .nav-icons__icon {
    fill: #3955e9; }
  .nav-icons > *:hover .nav-icons__notification {
    background-color: #5e77fb;
    transform: scale(1.1); }

.nav-profile {
  align-self: flex-end; }
  .nav-profile__link-img {
    height: 100%;
    width: 100%;
    border: 0.5rem solid rgba(57, 85, 233, 0.8);
    border-radius: 50rem; }

.content-header {
  border-bottom: var(--line);
  padding-bottom: 1rem; }

.email-details {
  padding: 2rem 4rem; }

.email-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .email-content__header {
    margin-right: auto;
    margin-left: 4rem; }

.navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 65rem; }

.nav-menu {
  width: 60%; }
  .nav-menu__header {
    background-color: #fff;
    padding: 0.15rem;
    display: block; }
    .nav-menu__header:not(:last-child) {
      margin-bottom: 0.3rem; }
    .nav-menu__header:nth-child(2) {
      width: 60%;
      margin-left: auto; }
    .nav-menu__header:nth-child(3) {
      width: 40%;
      margin-left: auto; }
  .nav-menu:hover .nav-menu__header:nth-child(2) {
    width: 70%;
    margin-left: 0;
    margin-right: auto; }
  .nav-menu:hover .nav-menu__header:nth-child(3) {
    width: 40%;
    margin-left: 0;
    margin-right: auto; }

.tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .tabs__title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 30%; }
    .tabs__title-notification-link {
      padding: 0.5rem 1rem;
      background-color: rgba(94, 119, 251, 0.2);
      font-size: 1.4rem;
      color: #5e77fb;
      font-weight: 700;
      border-radius: 0.5rem;
      transition: all 0.2; }
      .tabs__title-notification-link:hover {
        background-color: #5e77fb;
        color: #fff; }
  .tabs__settings {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }

.container {
  width: 90%;
  margin: 8rem auto;
  background-color: #f2f4f5;
  min-height: 70rem;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5rem;
  box-shadow: var(--shadow-dark); }
  .container > * {
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem; }

.section-nav {
  flex: 0 0 5%;
  background-color: #5e77fb;
  box-shadow: var(--shadow-light); }

.section-list {
  padding: 0 1rem 1rem;
  flex: 0 0 40%;
  background-color: #f2f4f5; }

.section-content {
  flex: 0 0 50%;
  background-color: #fff;
  box-shadow: var(--shadow-light); }

.section-chat {
  flex: 0 0 5%;
  background-color: #5e77fb;
  box-shadow: var(--shadow-light); }

/* */
