.navigation {
  @include flex(column, space-between, center);
  min-height: 65rem;
}
.nav-menu {
  width: 60%;
  &__header {
    background-color: $color-white;
    padding: 0.15rem;
    display: block;
    &:not(:last-child) {
      margin-bottom: 0.3rem;
    }

    &:nth-child(2) {
      width: 60%;
      margin-left: auto;
    }
    &:nth-child(3) {
      width: 40%;
      margin-left: auto;
    }
  }

  &:hover &__header {
    &:nth-child(2) {
      width: 70%;
      margin-left: 0;

      margin-right: auto;
    }
    &:nth-child(3) {
      width: 40%;
      margin-left: 0;
      margin-right: auto;
    }
  }
}

//tabs

.tabs {
  @include flex(row, space-between, center);
  &__title {
    @include flex(row, space-between, center);

    width: 30%;

    &-notification {
      &-link {
        padding: 0.5rem 1rem;

        background-color: rgba($color: $color-primary, $alpha: 0.2);
        font-size: 1.4rem;
        color: $color-primary;
        font-weight: 700;
        border-radius: 0.5rem;
        transition: all 0.2;
        &:hover {
          background-color: rgba($color: $color-primary, $alpha: 1);
          color: $color-white;
        }
      }
    }
  }
  &__settings {
    @include flex(row, space-between, center);
  }
}
