.navigation {
  @include flex(column, space-between, center);
  height: 100%;
}
.nav-menu {
  width: 50%;
  &__header {
    background-color: $color-white;
    padding: 0.15rem;
    display: block;
    transition: all 0.2s ease-in;
    &:not(:last-child) {
      margin-bottom: 0.3rem;
    }
    &:nth-child(2) {
      width: 100%;
    }
    &:nth-child(2) {
      width: 60%;
      margin-left: auto;
    }
    &:nth-child(3) {
      width: 40%;
      margin-left: auto;
    }
  }

  &:hover &__header {
    &:nth-child(1) {
      width: 40%;
      transform: translateX(-10%);
    }
    &:nth-child(3) {
      width: 100%;
      transform: translateX(-0%);
    }
    &:nth-child(2) {
      width: 60%;
      transform: translateX(-70%);
    }
  }
}

.nav-profile {
  justify-self: flex-end;
  &__link {
    &-img {
      height: 100%;
      width: 100%;
      border: 0.5rem solid rgba($color-primary-dark, 0.8);
      border-radius: 50rem;
    }
  }
}
//tabs

.tabs {
  @include flex(row, space-between, center);
  &__title {
    @include flex(row, space-between, center);

    margin-right: auto;
    flex: 0 0 30%;

    &-notification {
      &-link {
        padding: 0.5rem 1rem;

        background-color: rgba($color: $color-primary, $alpha: 0.2);
        font-size: 1.4rem;
        color: $color-primary;
        font-weight: 700;
        border-radius: 0.5rem;
        transition: all 0.2;
        &:hover {
          background-color: rgba($color: $color-primary, $alpha: 1);
          color: $color-white;
        }
      }
    }
  }
  &__settings {
    @include flex(row, space-between, center);
    flex: 0 0 30%;
  }
}
