//navigation-icons

.nav-icons {
  @include flex(column, space-evenly, center);
  min-height: 30rem;

  & > *:hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  & > *:hover &__icon {
    fill: $color-primary-dark;
  }
  & > *:hover &__notification {
    background-color: $color-primary;
    transform: scale(1.1);
  }
}
