.container {
  max-width: 140rem;
  margin: 8rem auto;
  background-color: $color-grey-light;
  min-height: 70rem;
  max-height: 100vh;
  padding: 2rem 4rem;
  @include flex(row, space-evenly, center);
  border-radius: 0.5rem;

  & > * {
    padding: 1rem;
    border-radius: 0.5rem;
    align-self: stretch;
    margin: 0.5rem;
  }
}

.section-nav {
  flex: 0 0 5%;
  background-color: $color-primary;
}
.section-list {
  margin: 0.5;
  padding: 0 1rem 1rem;
  flex: 0 0 40%;
  background-color: $color-grey-light;
}
.section-content {
  flex: 0 0 50%;
  background-color: $color-white;
}
.section-chat {
  flex: 0 0 5%;
  background-color: $color-primary;
}
