.container {
  width: 90%;
  margin: 8rem auto;
  background-color: $color-grey-light;
  min-height: 70rem;
  padding: 2rem 4rem;
  @include flex(row, space-evenly, center);
  border-radius: 0.5rem;
  box-shadow: var(--shadow-dark);

  & > * {
    padding: 2rem 1rem;
    border-radius: 0.5rem;
    margin: 0.5rem;
  }
}

.section-nav {
  flex: 0 0 5%;
  background-color: $color-primary;
  box-shadow: var(--shadow-light);
}
.section-list {
  padding: 0 1rem 1rem;
  flex: 0 0 40%;
  background-color: $color-grey-light;
}
.section-content {
  flex: 0 0 50%;
  background-color: $color-white;
  box-shadow: var(--shadow-light);
}
.section-chat {
  flex: 0 0 5%;
  background-color: $color-primary;
  box-shadow: var(--shadow-light);
}
